body {
    background-image: url('./Pokecollection.jpg');
    position: relative;
}
#pokedexBckground {
    width: 1000px;
    height: 90%;
    margin: 0 120px;
}
h1 {
    white-space: nowrap;
    font-family: 'Orbitron';
    font-size: 28px;
    text-decoration: underline;
}
#rootCtr {
    position: absolute;
    top: 153px;
    left: 681px;
    right: 96px;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
#name , #abilities , #height , #weight {
    width: 100px;
    font-family: 'Orbitron';
    font-size: x-large;
    padding: 10px;
}
#inputType {
    width: 300px;
}
:placeholder-shown {
    font-size: medium;
}

#modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow: auto;
}
#modal-textbox {
    background-color: whitesmoke;
    height: 350px;
    width: 550px;
    border-radius: 15px;
    margin: 150px auto;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 3;
    display: block;
}
#openModal {
    position: absolute;
    top: 550px;
    left: 286px;
}
#photoInsert {
    top: 80px;
    left: 160px;
    bottom: 400px;
    position: absolute;
    width: 400px;
}
#abilitiesInsert {
    text-align: start;
}
#close {
    font-size: larger;
}
#welcomeModal {
    font-size: x-large;
    text-decoration: underline;
}
/* https://fonts.google.com/specimen/Orbitron?sidebar.open=true&selection.family=Orbitron */

/* https://stackoverflow.com/questions/649576/css-setting-background-image-in-css */

/* https://www.w3schools.com/cssref/pr_text_white-space.asp */

/* Worked with Lily during the last portion of the project */